/* a */
a:link{color: #000000; text-decoration: none;}
a:active{color: #000000; text-decoration: none;}
a:visited{color: #000000; text-decoration: none;}
a:hover{
    color: #FFFFFF;
    background-color: #377D9F;
	padding: 2px;
	text-decoration: none;
}

/* body */
body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
    margin-right: 0px;
	min-width:1300px;
    font-family: arial;
    font-size: 10pt;
    color: #000000;
    background: #FFFFFF;
}

/* div */
div.head{
    width: 98%;
    background-color: #3F3F3F;
    padding: 8px;
}

div.bottom{
    width: 98%;
    margin-top: 30px;
    text-align: center;
}

div.view{
    width: 98%;
    background-color: #FFFFFF;
    padding: 10px;
    line-height: 22px;
}

div.view2{
    width: 500px;
    padding: 10px;
}

div.view3{
    width: 500px;
    background-color: #B6B6B6;
    padding: 10px;
}

div.list{
    width: 99%;
}

div.title{
    font-family: times;
    font-weight: bold;
    font-size: 15pt;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    margin-bottom: 5px;
}

div.title-big{
    font-family: times;
    font-weight: bold;
    font-size: 20pt;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
    margin-bottom: 0px;
}

div.title-big2{
    text-align: left;
    width: 100%;
    font-family: times;
    font-weight: bold;
    font-size: 20pt;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

div.stats{
    font-family: arial;
    font-size: 10pt;
    font-weight: normal;
    color: #2E5A5A;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

div.err-msg{
    color: red;
}

div.succ-msg{
    color: #5CB900;
}

div.action-info{
    margin-top: 10px;
    margin-left: 10px;
    background: #FFFFFF;
}

div.tab{
    margin-left: 20px;
}

div.br{
    margin-top: 3px;
}

div.hr{
    background-color: #000000;
    border: 0px;
    height: 1px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

/* span */
span.view-left{
    display: inline-block;
    width: 150px;
}

span.category-item{
    display: inline-block;
    width: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
}

span.domain-item{
    display: inline-block;
    width: 250px;
    margin-top: 2px;
    margin-bottom: 2px;
}

span.stats{
    font-family: arial;
    font-size: 10pt;
    font-weight: normal;
    color: #2E5A5A;
}

/* input */
input{
    font-family: arial;
    font-size: 10pt;
    background: #FFFFFF;
    color: #000000;
    border: #707070 1px solid;
}

input:hover{
    border: #3C7FB1 1px solid;
}

input:focus{
    border: #3C7FB1 1px solid;
}

textarea{
    font-family: arial;
    font-size: 10pt;
    background: #FFFFFF;
    color: #000000;
    border: #707070 1px solid;
}

textarea:hover{
    border: #3C7FB1 1px solid;
}

textarea:focus{
    border: #3C7FB1 1px solid;
}

input[type=submit]{
    background: #DDDDDD;
    font-size: 8pt;
}

input[type=reset]{
    background: #DDDDDD;
    font-size: 8pt;
}

input[type=button]{
    background: #DDDDDD;
    font-size: 8pt;
}

input[type=button]:hover{
    font-size: 8pt;
    background: #BEE6FD;
}

input[type=submit]:hover{
    font-size: 8pt;
    background: #BEE6FD;
}

input[type=reset]:hover{
    font-size: 8pt;
    background: #BEE6FD;
}

input[type=button][disabled]{
    color: #FFFFFF;
    font-size: 8pt;
}

div-upload{
	position: relative;
	width: 300px;
}

button{
	position: absolute;
	width: 300px;
}

input[type=file]{
	z-index: 2;
	opacity: 0;
	position: relative;
	width: 300px;
}

.no-border{
    background: transparent;
    border: none;
}

/* table */
table{
    font-family: arial;
    font-size: 10pt;
    color: #000000;
}

table.view{
    background: #F0F0F0;
}

tr.head{
    height: 22px;
    background: #F0F0F0;
    color:#000000;
    font-family: times;
    font-weight: bold;
}

tr.row{
    height: 24px;
}

tr.row:hover{
    background: #DDDDDD;
}

tr.line{
    height: 1px;
    background: #000000;
}

tr.line2{
    height: 1px;
    background: #919191;
}

/* misc */
.nolink{
    color: #FFFFFF;
    background-color: #377D9F;
	padding: 2px;
}

hr{
    color: #000000;
    background-color: #000000;
    border-color: #000000;  /* Chrome */
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    clear: both;
    display: block;
}

/* dropdown */
div.menu-wrap{
    position: relative;
    z-index: 9999999;
    margin-bottom: 55px;
}

ul.nx-menu ul{
    display: none
}

ul.nx-menu li:hover>ul{
    display: block
}

ul.nx-menu ul{
    position: absolute;
    left: -1px;
    top: 98%;
}

ul.nx-menu ul ul{
    position: absolute;
    left: 98%;
    top: -2px;
}

ul.nx-menu,ul.nx-menu ul{
    margin: 0px;
    list-style: none;
    padding: 0px 2px 2px 0px;
    background-color: #333333;
    background-repeat: repeat;
    border-color: #cccccc #000000 #000000 #cccccc;
    border-width: 1px;
    border-style: solid;
}

ul.nx-menu{
    display: block;
    float: left;
}

ul.nx-menu ul{
    width: 135px;
}

ul.nx-menu li{
    display: block;
    margin: 2px 0px 0px 2px;
    font-size: 0px;
}

ul.nx-menu a:active, ul.nx-menu a:focus{
    outline-style: none;
}

ul.nx-menu a, ul.nx-menu a:hover, ul.nx-menu a:hover{
    display: block;
    vertical-align: middle;
    background-color: #333333;
    border-width: 1px;
    border-color: #333333;
    border-style: solid;
    text-align: left;
    text-decoration: none;
    padding: 2px 5px 2px 12px;
    font: normal 12px Trebuchet MS,Tahoma;
    color: #cccccc;
    text-decoration: none;
    cursor: default;
}

ul.nx-menu span{
    overflow: hidden;
}

ul.nx-menu li{
    float: left;
}

ul.nx-menu ul li{
    float: none;
}

ul.nx-menu ul a{
    text-align: left;
    white-space: nowrap;
}

ul.nx-menu li:hover{
    position: relative;
}

ul.nx-menu li a:hover{
    position: relative;
    background-color: #377D9F;
    border-color: #377D9F;
    border-style: solid;
    font: normal 12px Trebuchet MS, Tahoma;
    color: #FFFFFF;
    text-decoration: none;
}

ul.nx-menu img.over{
    display: none;
}

ul.nx-menu a:hover img.over,ul.nx-menu a:hover ul,ul.nx-menu a:hover a:hover{
    display:inline;
}

ul.nx-menu a:hover img.def,ul.nx-menu a:hover ul,ul.nx-menu a:hover a:hover{
    display:none;
}

ul.nx-menu a:hover ul{
    display:block;
}

ul.nx-menu span{
    display: block;
    background-position: right center;
    background-repeat: no-repeat;
    padding-right:12px;
}

.xrecat-popup{
	position: relative;
	background: #DEE4ED;
	padding: 20px;
	width: auto;
	max-width: 400px;
	margin: 20px auto;
}

.ab-alert {
    padding: 20px;
    background-color: #F44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ab-alert.success {background-color: #4CAF50;}
.ab-alert.info {background-color: #4CAF50;}
.ab-alert.warning {background-color: #FF9800;}

.ab-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.ab-closebtn:hover {
    color: black;
}